<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cozy Forum 🐈‍ @ViewBag.Title</title>
    <script src="https://kit.fontawesome.com/f776b7496d.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Cozy Forum 🐈‍", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Search", "Search", "Home")</li>
                    <li>@Html.ActionLink("Log in", "Login", "Home")</li>
                    <li>@Html.ActionLink("Sign up", "Signup", "Home")</li>
                    <li>@Html.ActionLink("Account", "Account", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />



        <footer class="bg-light">
            <div class="bg-light py-4">
                <div class="container text-center">
                    <p class="text-muted mb-0 py-2">&copy; @DateTime.Now.Year - Cozy Forum 🐈‍ by Natasha Savelenko</p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
